

/***** SARA'S CSS ******/

.sara-col {
    height: 80vh;
    margin: 1% 1% 0% 1%;
    width: 100%;
}

#bar-chart-title, #artist-profile, #top-hits{
    padding-top: 3%;
    padding-left: 1%;
    height: 5vh;
}

h5, #year {
    display: inline-block;
}

.top-song-row:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

#top-hits {
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 2%;
    height: 2vh;
}

#bar-chart {
    height: 72vh;
}

.x-axis text {
    text-anchor:end;
}

#yearSlider {
    margin-top: 10px;
    width: 400px;
    height: 2.1em;
}

rect.selection {
    stroke: none;
    fill: #6B705C;
    fill-opacity: 0.6;
}

#labelleft, #labelright {
    dominant-baseline: hanging;
    font-size: 12px;
}

#labelleft {
    text-anchor: end;
}

#labelright {
    text-anchor: start;
}

#title-page {
    background-color: black;
    --bs-gutter-x: 0rem !important;
}

#main-title {
    font-size: 120px;
    color: white;
    margin-left: 10vw;
    line-height: 120px;
}

#main-desc {
    font-size: 26px;
    color: white;
    margin-left: 5vw;
}

#credits {
    font-size: 20px;
    color: white;
}

.intro-blurb {
    text-align: center;
    font-size: 28px;
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 36px;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.fa {
    padding-top: 5%;
    font-size: 28px;
}

td {
    border-bottom: none !important;
}
