/***** YIJIANG'S CSS ******/

h1 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar {
    background-color: #D4C7B0;
    padding-left: 5%;
    padding-right: 5%;
}
body {
    align-items: center;
    align-content: center;
    /* margin-right: 10vw;
    margin-left: 10vw; */
}

.selector {
    width: 15vw;
    margin-left: 1em;
    margin-right: 1em;
    padding-right: 0
}

#matrixVis {
    padding-top: 0;
    margin-top: 0;
    height: 80vh;
    width: 100%;
    margin-bottom: 140px;
}


/* .yijiangContentRows {
    height: 80vh;
} */

#genreVis {
    height: 100vh;
    width: 100%;
}

#attrVis {
    height: 100vh;
    width: 100%;
    margin-bottom: 60px;
}

.selector {
    height: 2.1em;
}

#attributeSelectDiv {
    margin-bottom: 8vh;
}

#matrixDiv {
    margin-top: 30vh;
    align-content: center;
}

.row1cols {
    width: 50%;
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.x-axis {
    font-size: 12px;
}

#yijiang-yearSlider {
    margin-top: 0;
    width: 400px;
    height: 2.1em;
}

#yearSlider {
    margin-top: 0;
    width: 400px;
    height: 2.1em;
}

rect.selection {
    stroke: none;
    fill: #6B705C;
    fill-opacity: 0.6;
}

#labelleft, #labelright {
    dominant-baseline: hanging;
    font-size: 12px;
}

#labelleft {
    text-anchor: end;
}

#labelright {
    text-anchor: start;
}